<article class="border-2 shadow-xs py-4 px-4 md:px-8">
  <header>
    <span class="text-lg xl:text-2xl text-brand-dark break-words">
      <a href="{{ .Permalink }}" class="low-profile-link">{{ .Title }}</a>
    </span>

    {{ if eq .Section "news" }}
      <div class="mt-2 flex flex-col items-start sm:flex-row sm:items-center sm:flex-wrap sm:flex-grow">
        {{ partial "body/infos" . }}
        {{ partial "body/tags" . }}
      </div>
    {{ end }}
  </header>

  {{ if .Params.description }}
    <div>
      <div class="text-default-light mt-4">
        {{ .Params.description }}
      </div>
      <p class="text-sm mt-2 text-brand-dark print:hidden">
        <a href="{{ .Permalink }}" class="low-profile-link">{{ printf "Read more >>" | markdownify }}</a>
      </p>
    </div>
  {{ end }}

</article>
