{{ $url := "" }}
{{ $path := "" }}

{{ $isRemote := strings.HasPrefix .Destination "http" }}

{{ if not $isRemote}}
  {{ $original := .Page.Resources.GetMatch .Destination }}
  {{ if and (not $original) .Page.File }}
    {{ if strings.HasPrefix .Destination "/"}}
      {{/* absolute path */}}
      {{ $path = .Destination }}
    {{ else }}
      {{ $path = path.Join .Page.File.Dir .Destination | relURL }}
      {{/* {{ warnf "--> $path: %s" $path }} */}}
      {{ $original = resources.Get $path }}
    {{ end }}
  {{ end }}

  {{ if $original }}
    {{ $process := $original }}
    {{ if (gt $process.Width 1200) }}
      {{ $process = $process.Resize "1200x" }}
    {{ end }}
    {{/* {{ $process = $process | images.Filter (images.Pixelate 8) }} */}}
    {{ $imgFileExt := path.Ext $original.RelPermalink }}

    {{ $imgFileName := replace $original.RelPermalink $imgFileExt (printf "-web%s" $imgFileExt) }}
    {{ $renderImg := slice $process | resources.Concat $imgFileName }}
    {{ partial "add-to-cleanup" ( dict "ctx" $ "img" $process ) }}
    {{ $url = $renderImg.Permalink }}

    {{/* thumbnail */}}
    {{ $process = $original.Resize "x240" }}
    {{ $imgFileName := replace $original.RelPermalink $imgFileExt (printf "-web-tn%s" $imgFileExt) }}
    {{ $renderImg := slice $process | resources.Concat $imgFileName }}
    {{ partial "add-to-cleanup" ( dict "ctx" $ "img" $process ) }}
    {{ $thumbnailUrl := $renderImg.Permalink }}

    {{ partial "add-to-cleanup" ( dict "ctx" $ "img" $original ) }}
  {{ else }}
    {{/* {{ warnf "--> not an image resource: %s" $path }} */}}
    {{ $url = $path }}
  {{ end }}
  
{{ else }}
    {{ $url = .Destination }}
{{ end }}

<figure>
  <img src="{{ $url }}" alt="{{ $.Text }}" title="{{ $.Title }}" class="rounded">
  {{ with $.Title }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
