{{ $img := .Page.Resources.GetMatch .Destination }}
{{ if and (not $img) .Page.File }}
  {{/* work around for images in snippets */}}
  {{ $path := .Page.Site.GetPage "snippets" }}
  {{ if $path }}
    {{ $imgPath := path.Join (strings.TrimPrefix $path.File.Dir .Page.File.Dir) .Destination }}
    {{ $img = $path.Resources.GetMatch $imgPath }}
  {{ end }}
{{ end }}
{{ if $img }}
  {{/* {{ limit size  }} */}}
  {{ if (gt $img.Width 1600) }}
    {{ $img = $img.Resize "1200x" }}
  {{ end}}
{{ else }}
  {{/* warning if no resource found and not a web image */}}
  {{ if not (findRE "://" .Destination) }}
    {{ warnf "Image resource %v not found: %v" .Destination .Page.File }}
  {{ end }}
{{ end }}
<figure>
  <img src="{{ if $img }}{{ $img.RelPermalink }}{{ else }}{{ .Destination }}{{ end }}" alt="{{ .Text }}" title="{{ .Title }}" class="rounded" loading="lazy">
  {{ with .Title }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>