<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ block "title" . }}{{ with .Title }}{{ printf "%s · " . }}{{ end }}{{ .Site.Title }}{{ end }}</title>
      {{ partial "head/styles" . }}
      {{ partial "head/scripts" . }}    
      {{ partial "head/theming" . }}
      {{ partial "head/meta" . }}
      {{ block "head" . }}{{ end }}
  </head>

  <body class="notransition bg-background font-body text-default transition-color duration-300">
    <div>
      {{ block "main" . }}{{ end }}
      {{ partial "footer/script.html" . }}
      {{ partial "footer/scroll-to-top" . }}
      {{ with .Param `debug` }}{{ partial "footer/dev-size-indicator.html" . }}{{ end }}
    </div>
    {{ partial "footer/main" . }}
  </body>

</html>