{{ define "main" }}
    {{ partial "nav/main" . }}

    <section class="md:ml-80 xl:ml-96">
      <div class="pt-32 md:mx-auto px-4 lg:px-20 xl:px-20 min-h-full prose prose-sm md:prose max-w-none lg:max-w-3xl xl:max-w-4xl print:py-0 print:px-0 print:max-w-none print:prose">
        <main class="min-h-screen">

          {{ partial "body/breadcrumb" . }}

          {{/* read the YAML data from the parent's resources */}}
          {{ $yamlData := partial "lib/get-yaml-data" . }}

          <header>
            <h1>{{ .Title }}</h1>
          </header>

          <div class="mb-8 flex flex-col items-start sm:flex-row sm:items-center sm:flex-wrap sm:flex-grow">
            {{ partial "lib/infos" $yamlData }}
            {{ partial "body/tags" . }}
          </div>

          <article>
            {{/* changelog */}}
            {{ if not .Params.disable_changelog }}
              {{ with $yamlData.changelog }}
                <div>
                  {{ partial "lib/changelog.html" . }}
                </div>
              {{ end }}
            {{ end }}

            {{/* description (or comment) */}}
            <div>
              {{ partial "lib/description.html" $yamlData }}
            </div>

            {{/* variable details */}}
            {{ with $yamlData.var }}
              <section id="accordion">
                <div class="flex justify-between items-baseline">
                  <h2 class="" id="content">Content</h2>
                  <div class="flex justify-end">
                    <a class="ml-2 print:hidden" href="javascript:void(0)" onclick="$('#accordion .collapse').collapse('show')">expand all</a>
                    <a class="ml-2 print:hidden" href="javascript:void(0)" onclick="$('#accordion .collapse').collapse('hide')">collapse all</a>
                  </div>
                </div>

                {{ range $key, $value := . }}
                  {{ partial "lib/common-data/var-details.html" (dict "key" $key "value" $value ) }}
                {{ end }}
              </section>
            {{ end }}

          </article>
          {{ partial "footer/page-footer.html" . }}
        </main>
      </div>
      {{ partial "nav/sidebar/main" . }}
    </section>

{{ end }}
