{{ define "main" }}
  {{ partial "nav/main" . }}

  <section class="md:ml-80 xl:ml-96">
    <div class="pt-16 px-4 lg:pl-8 lg:pr-20 w-full min-h-full print:py-0 print:px-0 print:max-w-none">
      <main class="min-h-screen prose prose-sm md:prose min-w-full print:prose">
        <div class="flex justify-between">
          {{ partial "body/breadcrumb" . }}
        </div>

        <header>
          <h1>{{ .Title }}</h1>
          {{ if .Params.featuredImage }}
            {{ partial "body/featured-image" . }}
          {{ end }}
        </header>

        <article>
          {{ with .Params.description }}
            <p class="lead">
              {{ . }}
            </p>
          {{ end }}

          {{ .Content }}
        </article>

        <div class="grid grid-cols-1 xl:grid-cols-2 print:grid-cols-2 gap-4 mb-8 mt-4 lg:mt-12">
          {{ range .Pages }}
            {{ .Render "summary" }}
          {{ end }}
        </div>

        {{ partial "footer/page-footer.html" . }}
      </main>
    </div>

    {{ partial "nav/sidebar/main" . }}

  </section>

{{ end }}
