/** purgecss start ignore */

html {
  scroll-behavior: smooth;
}

html, body {
  @apply w-full;
  @apply h-full;
}


.flat {
  @apply my-0 !important;
}

.low-profile-header {
  @apply my-0 !important;  
  color: inherit !important;
}

.low-profile-link {
  @apply no-underline !important;
  color: inherit !important;
  @apply hover:text-primary !important;
}

.button-a {
  @apply no-underline !important;
  @apply text-default hover:text-default-dark !important;
  @apply px-1 py-0.5 print:p-0;
  @apply rounded bg-default-soft shadow-sm print:bg-none print:shadow-none;
}


/* ============================================================================
 * color schemes
 * ========================================================================= */

 html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

/* ============================================================================
 * toggle switch
 * https://codepen.io/lhermann/pen/EBGZRZ
 * ========================================================================= */

 input:checked ~ .toggle__dot {
  transform: translateX(100%);
  @apply bg-green-400;
}


/* ============================================================================
 * keyboard buttons
 * ========================================================================= */

kbd {
  @apply inline-block px-1 mx-1 bg-background-soft text-default rounded border shadow-sm font-mono;
}


/* ============================================================================
 * class used for handling large horizontal (scrollable) tables in Markdown
 * ========================================================================= */

 .scroll {
  @apply overflow-x-auto;
  @apply border rounded;
  @apply p-4;
}


/* ============================================================================
 * sidebar
 * ========================================================================= */

.sidebar-item {
  @apply flex-grow flex items-center;
  @apply py-4 md:py-2 pr-4 min-h-12 md:min-h-8;
}

.sidebar-item.active {
  @apply bg-default-soft;
}

.collapse {
  @apply relative;
}

.collapse:not(.show) {
  @apply hidden;
}

.collapsing {
  @apply h-0 overflow-y-hidden transition-all duration-300;
}


/* ============================================================================
 * general styling for print
 * https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018
 * ========================================================================= */

@media print {
  /* hide scrollbars */
  ::-webkit-scrollbar {
    display: none;
  }
  /* page breaks */
  /* h2 {
    page-break-before:always;
  } */
  h3, h4 {
    page-break-after: avoid;
  }
  /* pre, blockquote {
    page-break-inside:avoid;
  } */
  table {
    @apply whitespace-pre-wrap !important;
  }
  .collapse {
    display: block !important;
    height: auto !important;
  }
  .collapse-card {
    page-break-inside: avoid;
  }
}


/* ============================================================================
 * skip transitions at page load
 * ========================================================================= */

.notransition * {
  @apply transition-none !important;
  @apply duration-0 !important;
}


/* ============================================================================
 * scroll back to top
 * ========================================================================= */

#scrollTopButton {
  @apply flex items-center justify-center;
  @apply cursor-pointer fixed z-10 bottom-0 right-0 mb-6 mr-4 w-12 h-12 rounded-full;
  @apply bg-default-soft shadow-sm text-default hover:text-default-dark;
  @apply opacity-0 invisible;
  @apply print:hidden;
  @apply transition-all duration-300;
}

#scrollTopButton.show {
  @apply opacity-100 visible;
}


/* ============================================================================
 * mobile menu
 * ========================================================================= */

#overlay.show {
  @apply opacity-60 visible;
}

#sidebar.show {
  @apply translate-x-0;
}

/** purgecss end ignore */