/** purgecss start ignore */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* offset for fixed header */
}

html, body {
  @apply w-full;
  @apply h-full;
}

.note *:first-child {
  @apply mt-0 !important;
}

.flat {
  @apply my-0 !important;
}

.low-profile-header {
  @apply my-0 !important;  
  color: inherit !important;
}

.low-profile-link {
  @apply no-underline !important;
  color: inherit !important;
  @apply hover:text-brand !important;
}

.button-a {
  @apply no-underline !important;
  @apply text-default hover:text-default-dark !important;
  @apply px-1 py-0.5 print:p-0;
  @apply rounded bg-default-soft shadow-sm print:bg-background print:shadow-none;
}


/* ============================================================================
 * header anchor tags
 * ========================================================================= */

.anchor {
  @apply invisible;
  @apply no-underline !important;
  @apply pl-1;
  @apply print:hidden;  
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  @apply visible;
}


/* ============================================================================
 * table of contents
 * ========================================================================= */
#toc-wrapper {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#toc-wrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}


 /* .toc {
} */

.toc a {
  @apply no-underline !important;
  color: inherit !important;
  @apply hover:text-brand !important;
}

.toc_h2 {
  @apply pl-1 mt-1;
}

.toc_h3 {
  @apply pl-2;
}

.toc_h4 {
  @apply pl-3;
}


summary {
  @apply cursor-pointer;
}

/* ============================================================================
 * color schemes
 * ========================================================================= */

 html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

/* ============================================================================
 * theme toggle switch
 * ========================================================================= */

#theme-switch:not(:checked) ~ .icon-theme-dark {
  @apply hidden;
}

#theme-switch:checked ~ .icon-theme-light {
  @apply hidden;
}


/* ============================================================================
 * keyboard buttons
 * ========================================================================= */

kbd {
  @apply inline-block px-1 mx-1 bg-background-soft text-sm rounded border border-default-light shadow-inner font-mono tracking-wider uppercase;
}


/* ============================================================================
 * class used for handling large horizontal (scrollable) tables in Markdown
 * ========================================================================= */

 .scroll {
  @apply overflow-x-auto;
  @apply border rounded;
  @apply p-4;
}


/* ============================================================================
 * sidebar
 * ========================================================================= */

.sidebar-item {
  @apply flex-grow flex items-center;
  @apply min-h-12 md:min-h-8;
  @apply hover:bg-default-soft;
  @apply transition-colors duration-100;
}

.sidebar-item:not(.active) > a {
  @apply hover:text-brand;
  @apply transition-colors duration-100;
}

.sidebar-item.active {
  @apply bg-default-soft;
}

.sidebar-item.level-0 {
  @apply text-base;
}

.sidebar-item.level-1,
.sidebar-item.level-2,
.sidebar-item.level-3,
.sidebar-item.level-4,
.sidebar-item.level-5,
.sidebar-item.level-6,
.sidebar-item.level-7,
.sidebar-item.level-8 {
  @apply font-normal text-sm;
}

.sidebar-item.parent {
  @apply font-semibold;
}

.sidebar-item.new-group {
  @apply mt-2;
}

.collapse {
  @apply relative;
}

.collapse:not(.show) {
  @apply hidden;
}

.collapsing {
  @apply h-0 overflow-y-hidden transition-all duration-300;
}


/* ============================================================================
 * general styling for print
 * https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018
 * ========================================================================= */

@media print {
  /* hide scrollbars */
  ::-webkit-scrollbar {
    display: none;
  }
  /* page breaks */
  /* h2 {
    page-break-before:always;
  } */
  h3, h4 {
    page-break-after: avoid;
  }
  /* pre, blockquote {
    page-break-inside:avoid;
  } */
  .collapse {
    display: block !important;
    height: auto !important;
  }
  .collapse-card {
    page-break-inside: avoid;
  }
  summary {
    display: none;
  }
}


/* ============================================================================
 * skip transitions at page load
 * ========================================================================= */

.notransition * {
  @apply transition-none !important;
  @apply duration-0 !important;
}


/* ============================================================================
 * scroll back to top
 * ========================================================================= */

#scrollTopButton {
  @apply flex items-center justify-center;
  @apply cursor-pointer fixed z-10 bottom-0 right-0 mb-6 mr-4 w-12 h-12 rounded-full;
  @apply bg-default-soft shadow-sm text-default hover:text-default-dark;
  @apply opacity-0 invisible;
  @apply print:hidden;
  @apply transition-all duration-300;
}

#scrollTopButton.show {
  @apply opacity-100 visible;
}


/* ============================================================================
 * mobile menu
 * ========================================================================= */

#overlay.show {
  @apply opacity-60 visible;
}

#sidebar.show {
  @apply translate-x-0;
}

/** purgecss end ignore */
