<footer class="text-xs text-footer bg-footer p-3 static bottom-0 w-full h-26 md:h12 print:hidden"> 
  <div class="container max-w-4xl mx-auto md:flex items-center justify-between">
    <div class="mb-2 md:mb-0">
      {{ with .Site.Copyright }}{{ . | safeHTML }}{{ end }}
    </div>
      <ul class="md:flex">
        <li>
          <a class="hover:underline mr-6" href="#">some item</a>
        </li>
        <li>
          <a class="hover:underline mr-6" href="#">another item</a>
        </li>
        <li>
          <a class="hover:underline mr-6" href="#">lorem ipsum</a>
        </li>
        <li>
          <a class="hover:underline mr-6" href="#">lorem ipsum</a>
        </li>
      </ul>
    </div>
</footer>