
<nav class="flex fixed w-full items-center justify-between h-16 bg-background shadow md:shadow-none md:border-b z-40 print:hidden">

  {{ partial "nav/logo-title" . }}

  <div class="flex items-center ">

    {{ with $.Param "debug" }}
      <span title="debug mode active">
        {{ partial "svgs/heroicons/beaker.svg" (dict "class" "text-red-600 mr-2 w-8 h-8" ) }}          
      </span>
    {{ end }}

    <button id="toggleMenu" aria-label="Open Menu" class="mr-2 focus:outline-none md:hidden">
      {{ partial "svgs/heroicons/menu.svg" (dict "class" "w-8 h-8" ) }}
    </button>
  </div>

  {{ partial "nav/sidebar/main" . }}

</nav>
