{{ $ctx := .ctx}}
{{ $padding := .padding }}
{{ $title := .title }}
{{ $url := .url }}
{{ $branchSelector := .branchSelector }}
{{ $branches := .branches }}
{{ $collapse := .collapse }}
{{ $debugColor := .debugColor }}

<div class="flex justify-between">
  <a href="{{ $url }}" class="sidebar-item" {{ if $collapse }} data-toggle="collapse" {{ end }}> 
    <span class="{{ with $ctx.Param `debug` }}{{ $debugColor }}{{ end }} flex-none mr-2 w-2 h-6"></span>
    <span class="{{ $padding }} mr-2">{{ $title }}</span>
  </a>
  {{if $branchSelector }}
    {{ partial "nav/sidebar/branch-selector.html" (dict 
      "branches" $branches 
      "label" ($title | urlize) 
      ) 
    }}
  {{end}}
</div>