{{ with .Page.Scratch.Get "versioning" }}
  {{ $note := "" }} 
  <div class="w-full mt-2 mb-8">
    <div class="flex-grow px-4 py-4 bg-default-soft border-l-4 border-brand">      
      {{ if not .isLatestVersion }}
        {{ $note = printf "This is part of %v `%v` -- *latest release: `%v`*." $.Title .thisVersion .latestVersion }}
      {{ else }}
        {{ $note = printf "This is part of %v `%v` -- *latest release*." $.Title .thisVersion }}
      {{ end }}
      {{ $note | markdownify }} 
    </div>
  </div>
{{end}}
