{{ $ctx := .ctx}}
{{ $depth := .depth }}

{{ $collapseId := ""}}
{{ $branches := dict }}
{{ $isImportedSection := false }}

{{ $isTopLevel := eq $depth 0 }}
{{ $hasChildren := gt (len $ctx.Pages) 0 }}
{{ with $ctx.Param (printf "imported_sections.%s" $ctx.Title) }}
  {{ $isImportedSection = true}}
  {{/* branches will be used for populating the dropdown */}}
  {{ $branches = .branches }}
{{end}}
{{ $inActiveSection := (in $.Page.Section $ctx.Section) }}
{{ $isActive := (eq $.Page.Permalink $ctx.Permalink) }}
{{ $isBranchRedirect := (eq ($ctx.Param "layout") "branch-redirect")}}

{{/* single pages at top level */}}
{{ if not $hasChildren }}
  {{ $showTopLevelItem := false }}

  {{ if not $isImportedSection }}{{ $showTopLevelItem = true}}{{end}}
  {{ if (and ($isBranchRedirect) (not $inActiveSection))}}{{ $showTopLevelItem = true}}{{end}}
  {{ if (and (not $isBranchRedirect) ($inActiveSection))}}{{ $showTopLevelItem = true}}{{end}}

  {{ if $showTopLevelItem }}

    {{/* has no children -> link to page in sidebar */}}
    {{ partial "sidebar-item.html" (dict 
      "debugColor" "bg-blue-400"
      "ctx" $ctx 
      "title" $ctx.Title
      "url" $ctx.Permalink 
      "branchSelector" (and ($isImportedSection) (not $isBranchRedirect)) 
      "branches" $branches 
      ) 
    }}

  {{ end }}

{{ else }}


  {{/* collection of pages which contain the current page */}}
  {{ if $inActiveSection }}
    {{/* has children -> collapsible section in sidebar */}}
    {{/* create unique id for collapse */}}
    {{ $collapseId = printf "_%s" (substr (md5 $ctx.RelPermalink) 0 5) }}

    {{/* already expand certain menu items */}}
    {{/* - items with just a few children */}}
    {{ $startExpanded := false }}

    {{if $isTopLevel }}{{$startExpanded = true}}{{end}}
    {{ partial "sidebar-item.html" (dict 
      "debugColor" "bg-gray-400" 
      "ctx" $ctx 
      "padding" (printf "pl-%v" (sub (mul $depth 2) 0)) 
      "title" $ctx.Title "url" (printf "#%s" $collapseId) 
      "branchSelector" ($isImportedSection) 
      "branches" $branches 
      "collapse" true
      ) 
    }}

    {{/* recursive processing of children */}}
    <div class="collapse {{if $startExpanded }}show{{end}}" id="{{ $collapseId }}">
      {{range $page_index, $page := $ctx.Pages }}
        {{if gt (len .Pages) 0 }}
          {{ partial "sidebar.html" (dict 
            "ctx" $page
            "depth" (add $depth 1)
            "Page" $.Page 
            ) 
          }}
        {{else}}

          {{/* single pages not at top level */}}
          {{ partial "sidebar-item.html" (dict 
            "debugColor" "bg-purple-400" 
            "ctx" $ctx 
            "padding" (printf "pl-%v" (add (mul $depth 2) 2)) 
            "title" .Title 
            "url" .Permalink 
            ) 
          }}

        {{end}}
      {{end}}
    </div>

  {{ else }}
    {{/* collection of pages at top level */}}
    {{ if not $isImportedSection }}

      {{ partial "sidebar-item.html" (dict 
        "debugColor" "bg-green-400" 
        "ctx" $ctx 
        "title" $ctx.Title 
        "url" $ctx.Permalink 
        ) 
      }}

    {{ end }}
  {{ end }}
{{ end }}
