{{ $tag := .Get "tag" | urlize }}
{{ $type := .Get "type" | lower }}

{{ $filter := "" }}
{{ $kind := "item" }}
{{ $items := slice }}

{{ if eq $type "function" }}
  {{ $filter = "function" }}
  {{ $kind = $type }}
{{ end}}

{{ if eq $type "function block" }}
  {{ $filter = "function" }}
  {{ $kind = $type }}
{{ end}}

{{ if eq $type "data type" }}
  {{ $filter = "data-type" }}
  {{ $kind = $type }}
{{ end}}

{{ $pages := slice }}
{{ if $tag }}
  {{/* all pages of the specified tag */}}
  {{ $pages = where (index .Page.Site.Taxonomies.tags $tag).Pages "Section" $.Page.Section }}
{{ else }}
  {{/* all pages of with a `lib` layout */}}
  {{ $pages = where .Page.FirstSection.RegularPagesRecursive "Layout" "data-type" }}
  {{ $pages = append $pages (where .Page.FirstSection.RegularPagesRecursive "Layout" "function") }}
{{ end }}


{{ with $pages }}
  {{ $table := "" }}
  {{ $itemsFound := false }}

  {{ if ne $kind "item" }}
    {{/* list selected type */}}
    {{ $items = where . "Layout" $filter }}
    {{ if gt (len $items) 0 }}
      {{ $table = printf "%s| %s | |\n" $table ($type | pluralize | humanize) }}
      {{ $table = printf "%s| --- | ----------- |\n" $table }}
      {{ range $items }}
        {{ $item := partial "lib/lib-item-summary" ( dict "ctx" . ) }}
        {{ if eq $item.kind $type }}
          {{ $table = printf "%s | %s | %v |\n" $table $item.markdownLink (.Params.description | replaceRE "\n" " ") }}
          {{ $itemsFound = true }}
        {{ end }}
      {{ end }}
    {{ end }}

  {{ else }}
    {{/* list all */}}
    {{ $table = printf "%s| Items |  |  |\n" $table }}
    {{ $table = printf "%s| ---- | ---- | ----------- |\n" $table }}

    {{/* data types */}}
    {{ range where . "Layout" "data-type" }}
      {{ $itemsFound = true }}
      {{ $item := partial "lib/lib-item-summary" ( dict "ctx" . ) }}
      {{ $table = printf "%s| %s | %s | %v |\n" $table $item.kind $item.markdownLink (.Params.description | replaceRE "\n" " ") }}
    {{ end }}

    {{/* function blocks */}}
    {{ range where . "Layout" "function" }}
      {{ $item := partial "lib/lib-item-summary" ( dict "ctx" . ) }}
      {{ if eq $item.kind "function block" }}
        {{ $itemsFound = true }}
        {{ $table = printf "%s| %s | %s | %v |\n" $table $item.kind $item.markdownLink (.Params.description | replaceRE "\n" " ") }}
      {{ end }}
    {{ end }}

    {{/* functions */}}
    {{ range where . "Layout" "function" }}
      {{ $item := partial "lib/lib-item-summary" ( dict "ctx" . ) }}
      {{ if eq $item.kind "function" }}
        {{ $itemsFound = true }}
        {{ $table = printf "%s| %s | %s | %v |\n" $table $item.kind $item.markdownLink (.Params.description | replaceRE "\n" " ") }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if $itemsFound }}
    {{ $table | markdownify}}
  {{ end }}
{{ end }}

